[
  {roll2d6_server, []},

  {pgpool, [
      {databases, [
          {pg_conn, [
              {pool, [
                  {size, 10},
                  {max_overflow, 20},
                  {strategy, lifo}
              ]},
              {connection, [
                  {host, "localhost"},
                  {user, "roll2d6"},
                  {pass, "roll2d6"},
                  {options, [
                      {port, 5432},
                      {ssl, false},
                      {database, "roll2d6"}
                  ]}
              ]}
          ]}
      ]}
  ]},
  {kernel,
    [{logger,
      [{handler, default, logger_std_h,
        #{formatter => {logger_formatter, #{single_line => true}}}}
      ]}
    ]}
].
